# dependencies
/node_modules

# IDEs and editors
/.idea
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.angular/cache
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
.env
.github/
docs/
.DS_Store
.gitignore
.project
.pydevproject
CHANGELOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
docker-compose.test.yml
LICENSE
Makefile
PULL_REQUEST_TEMPLATE.md
README.md

# System Files
.DS_Store
Thumbs.db

# Sub repos
/.gitmodules